<div class="person">
    <h1><span class="editable{% if not person.firstname %} unknown{% endif %}" id="firstname_{{ person.id }}">{{ person.firstname|default('unknown') }}</span> <span class="editable{% if not person.lastname %} unknown{% endif %}" id="lastname_{{ person.id }}">{{ person.lastname|default('unknown') }}</span></h1>
    <div class="dateOfBirth">* <span id="dateOfBirth_{{ person.id }}" class="editable{% if not person.dateOfBirth %} unknown{% endif %}">{% if person.dateOfBirth %}{{ person.dateOfBirth|date('d.m.Y') }}{% else %}unknown{% endif %}</span></div>
    <div class="dateOfDeath">&dagger; <span id="dateOfDeath_{{ person.id }}" class="editable{% if not person.dateOfDeath %} unknown{% endif %}">{% if person.dateOfDeath %}{{ person.dateOfDeath|date('d.m.Y') }}{% else %}unknown{% endif %}</span></div>
</div>

<div class="parents">
    <div class="father">
{% if person.father %}
{% include 'FamilyTreeBundle:Default:person.html.twig' with { 'person': person.father } %}
{% else %}
        <a href="{{ path('addFather', { 'id': person.id }) }}" class="btn btn-add">add father</a>
{% endif %}
    </div>

    <div class="mother">
{% if person.mother %}
{% include 'FamilyTreeBundle:Default:person.html.twig' with { 'person': person.mother } %}
{% else %}
        <a href="{{ path('addMother', { 'id': person.id }) }}" class="btn btn-add">add mother</a>
{% endif %}
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('.editable').editable('{{ path('edit') }}', {
        onblur: 'submit'
    });
});
</script>
